<launch>
    <arg name="rviz" default="false" />
    
    <rosparam file="$(find nv_liom)/config/params_vlp16_longcorridor.yaml" command="load" />

    <node pkg="nv_liom" type="nv_lidar_deskew_node" name="nv_lidar_deskew_node"  output="screen"></node>
    <node pkg="nv_liom" type="nv_lidar_projection_node" name="nv_lidar_projection_node"  output="screen"></node>
    <node pkg="nv_liom" type="nv_normal_extraction_node" name="nv_normal_extraction_node"  output="screen"></node>
    <node pkg="nv_liom" type="nv_lidar_inertial_mapping_node" name="nv_lidar_inertial_mapping_node"  output="screen"></node>
    
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find nv_liom)/rviz/nv_liom.rviz" />

</launch>
 
